## 1.1_Enrico_Raw_Stocks.ipynb
- Loads daily stock prices using the SimFin API.

- Saves data to raw_stock_prices.csv.

- Then reads it again and does basic inspection (head(), describe(), isna().mean()).

- Focuses on a single stock (CRWD) for example analysis.

In [10]:
import pandas as pd
import simfin as sf
from simfin.names import CLOSE, OPEN, HIGH, LOW, VOLUME, TICKER
import os
from dotenv import load_dotenv

load_dotenv()
SIMFIN_API_KEY = os.getenv('API_KEY')

def load_data():
    """
    Loads daily stock prices for all US companies from SimFin 
    and saves the raw data to a specified directory for processing.
    """

    # Set SimFin API key (Replace with your actual key)
    sf.set_api_key(SIMFIN_API_KEY)

    # Set SimFin data directory (ensure it exists)
    sf.set_data_dir("data/RAW/")

    # Load daily stock prices for all US companies
    print("ðŸ“¥ Downloading US stock market data...")
    df_prices = sf.load_shareprices(market="us", variant="daily")

    # Reset index to make 'Date' a normal column
    df_prices = df_prices.reset_index()

    # Define save path - ADAPT TO YOUR LOCAL ENVIRONMENT
    save_path = "data/RAW/raw_stock_prices.csv"

    # Save raw data to CSV
    df_prices.to_csv(save_path, index=False)

    print(f"âœ… Data saved to: {save_path}")

# Run the function
load_data()

ðŸ“¥ Downloading US stock market data...
Dataset "us-shareprices-daily" on disk (0 days old).
- Loading from disk ...

c:\Users\SLO\Documents\GitHub\python-group-project-2\.venv\Lib\site-packages\simfin\load.py:154: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(path, sep=';', header=0,

Done!
âœ… Data saved to: data/RAW/raw_stock_prices.csv

In [2]:
# Define the file path where the raw stock prices were saved
file_path = "/Users/enricotajanlangit/Desktop/Python 2/python-group-project-2/raw_stock_prices.csv"

# Read the saved CSV file into a DataFrame
df_prices = pd.read_csv(file_path)

# Display the first few rows to confirm it loaded correctly
df_prices.head()

,Ticker,Date,SimFinId,Open,High,Low,Close,Adj. Close,Volume,Dividend,Shares Outstanding
0,A,2019-04-15,45846,81.00,81.13,79.91,80.40,77.22,1627268,NaN,317515869.0
1,A,2019-04-16,45846,80.82,80.96,77.19,77.55,74.48,3441597,NaN,317515869.0
2,A,2019-04-17,45846,78.15,78.32,74.46,75.43,72.44,4471971,NaN,317515869.0
3,A,2019-04-18,45846,75.73,76.54,75.31,76.17,73.16,2874195,NaN,317515869.0
4,A,2019-04-22,45846,75.93,76.72,75.13,75.57,72.58,2016043,NaN,317515869.0

In [3]:
# example DF for CRWD ticker only 
df_crwd = df_prices[df_prices["Ticker"] == "CRWD"]

# Display the filtered DataFrame
df_crwd.head()

,Ticker,Date,SimFinId,Open,High,Low,Close,Adj. Close,Volume,Dividend,Shares Outstanding
1326081,CRWD,2019-06-12,1039026,63.50,67.00,56.00,58.00,58.00,19449162,NaN,48127000.0
1326082,CRWD,2019-06-13,1039026,63.86,69.67,61.60,67.56,67.56,10923944,NaN,48127000.0
1326083,CRWD,2019-06-14,1039026,69.78,70.79,63.02,64.16,64.16,6264212,NaN,48127000.0
1326084,CRWD,2019-06-17,1039026,64.75,70.01,62.00,70.01,70.01,3247471,NaN,48127000.0
1326085,CRWD,2019-06-18,1039026,73.00,78.70,71.50,76.50,76.50,6612626,NaN,48127000.0

In [4]:
df_prices.describe()

,SimFinId,Open,High,Low,Close,Adj. Close,Volume,Dividend,Shares Outstanding
count,5.814288e+06,5.814288e+06,5.814288e+06,5.814288e+06,5.814288e+06,5.814288e+06,5.814288e+06,35458.000000,5.286531e+06
mean,5.840181e+06,1.647946e+04,1.657938e+04,1.634267e+04,1.643571e+04,1.643355e+04,1.777196e+06,0.455116,6.034401e+11
std,6.016586e+06,1.232507e+06,1.235688e+06,1.228048e+06,1.230774e+06,1.230775e+06,2.885491e+07,8.042175,6.195625e+13
min,1.800000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
25%,6.255390e+05,7.860000e+00,8.070000e+00,7.620000e+00,7.850000e+00,7.380000e+00,3.574500e+04,0.120000,1.802831e+07
50%,1.300071e+06,2.036000e+01,2.080000e+01,1.995000e+01,2.034000e+01,1.894000e+01,2.424370e+05,0.250000,4.892806e+07
75%,1.103546e+07,5.176000e+01,5.270000e+01,5.080000e+01,5.174000e+01,4.880000e+01,9.329635e+05,0.450000,1.309051e+08
max,1.849338e+07,1.000000e+08,1.000000e+08,1.000000e+08,1.000000e+08,1.000000e+08,1.848998e+10,1500.000000,6.667887e+15

In [5]:
df_prices.isna().mean() # 99% of the dividend column is null for all tickers

Ticker                0.000000
Date                  0.000000
SimFinId              0.000000
Open                  0.000000
High                  0.000000
Low                   0.000000
Close                 0.000000
Adj. Close            0.000000
Volume                0.000000
Dividend              0.993902
Shares Outstanding    0.090769
dtype: float64

In [6]:
df_crwd.isna().mean() # 100% of the divident column is null for CRWD column

Ticker                0.0
Date                  0.0
SimFinId              0.0
Open                  0.0
High                  0.0
Low                   0.0
Close                 0.0
Adj. Close            0.0
Volume                0.0
Dividend              1.0
Shares Outstanding    0.0
dtype: float64